body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #a6d2ff;
	text-align: left;
}
p {
	font-size:16px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
}
h1 {
	font-size:24px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000000;
}
h2 {
	font-size:21px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000000;
}
a {
	font-family: Arial, Helvetica, sans-serif;
	color: #0000ff;
}
a:visited {
	font-family: Arial, Helvetica, sans-serif;
	color: #404080;
}
select {
	font-family: Arial, Helvetica, sans-serif;
	padding: 2px;
	font-size: 16px;
}
#main {
	margin: auto;
	background-color: #ffffff;
	width: 100%;
	max-width: 1200px;
	padding: 10px;
}
footer {
	text-align: center;
}
input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
form {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
button {
	background-color: #e0e0e0;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 16px;
	padding-top: 3px;
	padding-right: 6px;
	padding-bottom: 3px;
	padding-left: 6px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}
button:hover {
	background-color: #d0d0d0;
}
.numeric-input {
	width: 160px;
	padding: 2px;
}
#result {
	padding-top: 15px;
	color: #000000; 
	font-weight: bold; 
	min-height: 55px;
	height: auto;
	padding-bottom: 15px;
	overflow-wrap: break-word;
}
textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
html {
	-webkit-text-size-adjust: none;
}